#iewarning {
	max-width: 980px;
	margin: 0 auto;
	margin-bottom: -20px;
	border-radius: 2px;
	padding: 20px;
	background: #ffea97;
	border: 1px solid #ffcc00;
	font-weight: 600;
	color: #444;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}

#nav {
	float: right;
}

body {background:blue;}