/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	font-family: "adelle",serif;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMUlEQVQIW2Pcr6T0nwEKvv37B2YxwgRhAlxMTBBBZAGwyq0KCmDtIBUwABZEFgBJAADy0xMCfZSkYwAAAABJRU5ErkJggg==);
	color: white;
}

p {
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

a {
	color: #bf2222;

	&:hover{
		color: lighten(#bf2222, 20%);
	}
}
.nine60 {
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
}

header {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMUlEQVQIW2Pcr6T0nwEKvv37B2YxwgRhAlxMTBBBZAGwyq0KCmDtIBUwABZEFgBJAADy0xMCfZSkYwAAAABJRU5ErkJggg==);
	opacity: .95;
	position: fixed;
	padding: 20px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;


	h1 {
		font-family: "adelle",serif;
  	font-size: 24px;
  	@include text-shadow(0 1px 1px rgba(0,0,0,.3));
  	float: left;
	}

	nav {
		text-align: right;
		font-family: "adelle",serif;
 		font-weight: 100;

 		ul {
 			font-size: 0;
 		}

		li {
	 		font-size: 15px;
	 		line-height: 20px;
			display: inline-block;
			list-style: none;
			padding: 0px 20px;

			a {
				color: whiteSmoke;
				text-decoration: none;
				border-bottom: 1px dotted;
				transition: all .15s ease-in-out;
				-moz-transition: all .15s ease-in-out;
				-webkit-transition: all .15s ease-in-out;
				margin: 0px;

				&:hover {
					color: #ff9999;
				}
			}
		}
	}
}

#welcome {
	margin-top: 80px;
	text-align: center;
	margin-bottom: 40px;

	h2 {
 		font-family: "adelle",serif;
 		color: #fff;
		font-size: 60px;
		font-style: italic;
		letter-spacing: -0.03em;
		font-weight: 100;
		padding: 50px 20px 0px;
		margin-bottom: 30px;
	}

	.button {
 		font-family: "adelle",serif;
		font-size: 20px;
		font-weight: 300;
		text-shadow: 0 1px #000;
		padding: 18px 35px;
		background: blue;
		display: inline-block;
		background-color: #247acb;
		border: 1px solid #03245e;
		@include background-image(linear-gradient(top, rgb(36, 122, 203), rgb(18, 88, 151)));
		@include filter-gradient(rgb(36, 122, 203), rgb(18, 88, 151), vertical);
		@include box-shadow(inset 0 0 0px 1px #327fd6, 0 1px 1px #111);
		@include border-radius(3px);
		transition: background .25s ease-in-out;
		-moz-transition: background .25s ease-in-out;
		-webkit-transition: background .25s ease-in-out;

		&:hover {
			background: rgb(36, 122, 203);
			@include box-shadow(inset 0 1px 3px rgba(#000, .3), 0 1px 1px rgba(#fff, .15));
		}
	}
}

.title-bar {
	width: 100%;
	border-bottom: 1px solid #b82121;
	display: block;
	margin-bottom: 40px;
}

h2 {
	font-family: "adelle",serif;
	font-size: 40px;
	color: #b82121;
	display: inline-block;
	margin-bottom: -20px;
	padding: 0 20px;
	text-align: center;

	&.white {
		background: #fbfbfb;
	}

	&.grey {
		background: #252525;
	}

	&.blue {
		background: #019ad2;
		color:#e1f7ff;
	}
}

#triangles {
	background: url('../images/triangle-topper.png');
	height: 22px;
	display: inline-block;
	width: 100%;
}

#story {
	background: #fbfbfb;
	padding: 60px 0;
	overflow: hidden;
	clear: both;
	text-align: center;

	p {
		font-size: 16px;
		line-height: 24px;
		color: #333;
		text-align: left;
		margin-bottom: 20px;
	}

	img {
		float: left;
		width: 225px;
		border: 8px solid #fff;
		margin: 0 30px 20px 0;
		@include border-radius(3px);
		@include box-shadow(0 1px 2px rgba(0,0,0,.4));
	}
}

#instalovin {
	background: #252525;
	background-image: url('/images/instagram-back.png');
	background-repeat: no-repeat;
 	background-position: center bottom;
	text-align: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #000;
	padding: 60px 0;
	clear: both;

	.title-bar {
		border-bottom: 1px solid #fff;
	}

	h2 {
		color: #fff;
	}

	p {
		color: whiteSmoke;
		margin-bottom: 10px;
	}

	.instagram {
		display: inline-block;
		width: 100%;
		background: #f9f9f9;
		margin: 20px 0 0;
		padding: 20px;
		border: 1px solid #ccc;
		@include border-top-left-radius(3px);
		@include border-top-right-radius(3px);

		img {
			position: relative;
			float: left;
			display: inline;
			width: 20%;
			margin: 0;
			padding: 0px;
			opacity: .90;
			transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

		#more {
			margin: 0;
			width: 100%;
			background: #eee;
			display: inline-block;
			padding: 15px 0;
			border: none;
			border: 1px solid #ccc;
			border-top: 1px solid #fff;
			@include border-bottom-left-radius(3px);
			@include border-bottom-right-radius(3px);
			transition: background .25s ease-in-out;
			-moz-transition: background .25s ease-in-out;
			-webkit-transition: background .25s ease-in-out;
			font-size: 20px;
	 		font-family: "adelle",serif;

			&:hover {
				background: #f9f9f9;
			}
		}
}

#twitterigs {
	background: #019ad2 url('/images/twitter-back.png');
	background-repeat: no-repeat;
 	background-position: center bottom;
	padding: 60px 0;
	overflow: hidden;
	clear: both;
	text-align: center;

	.title-bar {
		border-bottom: 1px solid #fff;
	}

	h2 {
		color: #fff;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		margin: 0 auto;
		margin-bottom: 40px;
		@include border-radius(2px);
	}

	a {
		color: #33ccff;
	}

	img {
		float: left;
		width: 32px;
		border: 1px solid #fff;
		margin: 0 30px 20px 0;
		@include border-radius(1px);
		@include box-shadow(0 1px 2px rgba(0,0,0,.4));
	}
}

#news {
	text-align: center;
	background: #fbfbfb;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 60px 0;
	clear: both;
	overflow: hidden;

	section {
		text-align: left;
		max-width: 470px;
		float: left;
		padding: 20px 20px 0 0;

		p {
			font-size: 12px;
			line-height: 16px;
			font-family: Arial;
			color: #666;
			margin-top: 10px;
			float: right;

			.date {
		 		font-family: "adelle",serif;
				color: #666;
				font-size: 17px;
				line-height: 26px;
				display: block;
				font-weight: 300;
			}

			.title {
		 		font-family: "adelle",serif;
				color: #333;
				font-size: 26px;
				line-height: 28px;
				margin-bottom: 10px;
				display: block;
			}

			img {
				margin-right: 20px;
				margin-bottom: 20px;
				float: left;
				max-width: 170px;
				border: 8px solid #fff;
				@include border-radius(1px);
				@include box-shadow(0 0 0 1px #efefef, 0 1px 2px rgba(0,0,0,.4));
			}
		}
	}
}

#footer {
	padding: 40px;
}