/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

#iewarning {
  display: none;
}

body {
  font-family: "adelle",serif;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMUlEQVQIW2Pcr6T0nwEKvv37B2YxwgRhAlxMTBBBZAGwyq0KCmDtIBUwABZEFgBJAADy0xMCfZSkYwAAAABJRU5ErkJggg==);
  color: white;
}

p {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

a {
  color: #bf2222;
}
a:hover {
  color: #e36464;
}

.nine60 {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  padding: 20px;
  background-color: #212121;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212121), to(#222222));
  background-image: -webkit-linear-gradient(top, #212121, #222222);
  background-image: -moz-linear-gradient(top, #212121, #222222);
  background-image: -o-linear-gradient(top, #212121, #222222);
  background-image: -ms-linear-gradient(top, #212121, #222222);
  background-image: linear-gradient(top, #212121, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#212121', EndColorStr='#222222');
  -webkit-box-shadow: 0 1px 0px black, 0 1px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 0px black, 0 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0px black, 0 1px 3px rgba(0, 0, 0, 0.6);
}
header h1 {
  font-family: "adelle",serif;
  font-size: 24px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  float: left;
}
header nav {
  text-align: right;
  font-family: Arial, sans-serif;
  font-weight: 100;
}
header nav ul {
  font-size: 0;
}
header nav li {
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  list-style: none;
  padding: 0px 0 0 20px;
}
header nav li a {
  color: whiteSmoke;
  text-decoration: none;
  border-bottom: 1px dotted;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  margin: 0px;
}
header nav li a:hover {
  color: #ff9999;
}

#welcome {
  text-align: center;
  margin: 30px auto;
  padding: 0;
}
#welcome img {
  max-width: 100%;
}
#welcome h2 {
  font-family: "adelle",serif;
  color: #fff;
  font-size: 60px;
  font-style: italic;
  letter-spacing: -0.03em;
  font-weight: 100;
  margin-bottom: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#welcome .button {
  font-family: "adelle",serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 1px black;
  padding: 18px 35px;
  background: blue;
  display: block;
  background-color: #247acb;
  border: 1px solid #03245e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #247acb), color-stop(100%, #125897));
  background-image: -webkit-linear-gradient(top, #247acb, #125897);
  background-image: -moz-linear-gradient(top, #247acb, #125897);
  background-image: -o-linear-gradient(top, #247acb, #125897);
  background-image: linear-gradient(top, #247acb, #125897);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF247ACB', endColorstr='#FF125897');
  -webkit-box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  -moz-box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
#welcome .button:hover {
  background: #247acb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
}

.title-bar {
  width: 100%;
  border-bottom: 1px solid #b82121;
  display: block;
  margin-bottom: 40px;
}

h2 {
  font-family: "adelle",serif;
  font-size: 40px;
  color: #b82121;
  display: inline-block;
  margin-bottom: -20px;
  padding: 0 20px;
  text-align: center;
  position: relative;
  top: 15px;
}
h2.white {
  background: #fbfbfb;
}
h2.grey {
  background: #252525;
}
h2.blue {
  background: #019ad2;
  color: #e1f7ff;
}

#triangles {
  background: url("../images/triangle-topper.png");
  height: 22px;
  display: block;
  width: 100%;
}

#story {
  background: #fbfbfb;
  padding: 40px 0;
  overflow: hidden;
  clear: both;
  text-align: center;
}
#story p {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}
#story img {
  float: left;
  width: 225px;
  border: 8px solid white;
  margin: 0 30px 20px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#instalovin {
  background: #252525;
  background-image: url("../images/instagram-back.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid black;
  padding: 40px 0;
  clear: both;
  color: #333;
}
#instalovin .title-bar {
  border-bottom: 1px solid white;
}
#instalovin h2 {
  color: #fff;
}
#instalovin p {
  color: whiteSmoke;
  margin-bottom: 10px;
  font-size: 16px;
}
#instalovin .instagram {
  display: inline-block;
  width: 100%;
  background: #f9f9f9;
  margin: 20px 0 0;
  padding: 20px;
  border: 1px solid #cccccc;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
#instalovin .instagram p {
  color: #333;
  padding: 20px;
}
#instalovin .instagram img {
  position: relative;
  float: left;
  display: inline;
  width: 20%;
  margin: 0;
  padding: 0px;
  opacity: .90;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
#instalovin .instagram img:hover {
  opacity: 1;
}
#instalovin #more {
  width: 100%;
  background: #eee;
  display: inline-block;
  padding: 15px 0;
  border: none;
  border: 1px solid #cccccc;
  border-top: 1px solid white;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
  font-size: 20px;
  font-family: "adelle",serif;
  margin-top: -3px;
}
#instalovin #more:hover {
  background: #f9f9f9;
}

#twitterings {
  background: #019ad2;
  background-image: url("../images/twitter-back.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 40px 0;
  overflow: hidden;
  clear: both;
  text-align: center;
}
#twitterings .title-bar {
  border-bottom: 1px solid white;
}
#twitterings h2 {
  color: #fff;
}
#twitterings p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#twitterings a {
  color: #33ccff;
}
#twitterings .twitter-follow-button {
  margin-top: 20px;
}
#twitterings img {
  float: left;
  width: 32px;
  border: 1px solid white;
  margin: 0 30px 20px 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#news {
  text-align: center;
  background: #fbfbfb;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 40px 0;
  clear: both;
  overflow: hidden;
}
#news section {
  padding: 20px;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  font-family: Arial;
  color: #555;
  display: inline-block;
}
#news section b {
  font-weight: bold;
  color: #b82121;
}
#news section .date {
  font-family: "adelle",serif;
  color: #555;
  font-size: 18px;
  line-height: 30px;
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}
#news section .title {
  font-family: "adelle",serif;
  color: #b82121;
  font-size: 32px;
  line-height: 28px;
  display: block;
}
#news section img {
  margin-right: 30px;
  margin-bottom: 20px;
  float: left;
  max-width: 170px;
  border: 8px solid white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 1px #efefef, 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0 1px #efefef, 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 1px #efefef, 0 1px 2px rgba(0, 0, 0, 0.4);
}
#news section + section {
  -webkit-box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2), 0 0px 0 white;
  -moz-box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2), 0 0px 0 white;
  box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2), 0 0px 0 white;
  padding-top: 40px;
}

#footer {
  text-align: center;
  background: #252525;
  padding: 10px;
  line-height: 30px;
}
#footer p {
  font-family: arial;
  font-size: 12px;
  line-height: 30px;
  color: #777;
}
#footer p .twitter-mention-button {
  margin-bottom: -5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav {
    display: none;
  }

  header h1 {
    float: none;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  #welcome {
    padding: 0;
  }
  #welcome img {
    max-width: 130%;
    margin-left: -15%;
  }
  #welcome h2 {
    padding: 20px;
    font-size: 34px;
    margin: 0;
    display: inline-block;
    position: relative;
    top: -15px;
  }

  #story {
    padding: 10px 0;
  }
  #story h2 {
    font-size: 28px;
  }
  #story img {
    width: 100%;
  }

  #instalovin {
    padding: 10px 0;
  }
  #instalovin h2 {
    font-size: 28px;
  }
  #instalovin .instagram img {
    width: 100%;
    margin-bottom: 1px;
    float: none;
    display: block;
  }

  #twitterings {
    padding: 10px 0;
  }
  #twitterings h2 {
    font-size: 28px;
  }

  #news {
    padding: 10px 0;
  }
  #news h2 {
    font-size: 28px;
  }
  #news section {
    max-width: 100%;
  }
  #news section img {
    text-align: center;
    max-width: 100%;
    float: none;
    display: block;
  }

  #footer {
    padding-bottom: 50px;
  }
}
@media all and (max-width: 750px) {
  header {
    height: 60px;
  }

  nav {
    display: none;
  }

  h1 {
    float: none;
    text-align: center;
    width: 100%;
  }
}
