/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 15, ../sass/screen.scss */
body {
  font-family: "adelle",serif;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMUlEQVQIW2Pcr6T0nwEKvv37B2YxwgRhAlxMTBBBZAGwyq0KCmDtIBUwABZEFgBJAADy0xMCfZSkYwAAAABJRU5ErkJggg==);
  color: white;
}

/* line 21, ../sass/screen.scss */
p {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

/* line 27, ../sass/screen.scss */
a {
  color: #bf2222;
}
/* line 30, ../sass/screen.scss */
a:hover {
  color: #e36464;
}

/* line 34, ../sass/screen.scss */
.nine60 {
  max-width: 980px;
  padding: 20px;
  margin: 0 auto;
}

/* line 40, ../sass/screen.scss */
header {
  padding: 20px;
}
/* line 43, ../sass/screen.scss */
header h1 {
  font-family: "adelle",serif;
  font-size: 24px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  float: left;
}
/* line 50, ../sass/screen.scss */
header nav {
  text-align: right;
  font-family: "adelle",serif;
  font-weight: 100;
}
/* line 55, ../sass/screen.scss */
header nav li {
  display: inline-block;
  list-style: none;
}
/* line 59, ../sass/screen.scss */
header nav li a {
  color: whiteSmoke;
  text-decoration: none;
  border-bottom: 1px dotted;
}
/* line 64, ../sass/screen.scss */
header nav li a:hover {
  color: #fff;
  border-bottom: none;
}
/* line 71, ../sass/screen.scss */
header nav li + li {
  margin-left: 20px;
}

/* line 77, ../sass/screen.scss */
#welcome {
  text-align: center;
  min-height: 300px;
  margin-bottom: 20px;
  background: url("/images/header-background.png") top center no-repeat;
}
/* line 83, ../sass/screen.scss */
#welcome h2 {
  font-family: "adelle",serif;
  color: #fff;
  font-size: 60px;
  font-style: italic;
  letter-spacing: -0.03em;
  font-weight: 100;
  padding: 50px 20px 0px;
  margin-bottom: 30px;
}
/* line 94, ../sass/screen.scss */
#welcome .button {
  font-family: "adelle",serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 1px black;
  padding: 18px 35px;
  background: blue;
  display: inline-block;
  background-color: #247acb;
  border: 1px solid #03245e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #247acb), color-stop(100%, #125897));
  background-image: -webkit-linear-gradient(top, #247acb, #125897);
  background-image: -moz-linear-gradient(top, #247acb, #125897);
  background-image: -o-linear-gradient(top, #247acb, #125897);
  background-image: linear-gradient(top, #247acb, #125897);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF247ACB', endColorstr='#FF125897');
  -webkit-box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  -moz-box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
/* line 112, ../sass/screen.scss */
#welcome .button:hover {
  background: #247acb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
}

/* line 119, ../sass/screen.scss */
.title-bar {
  width: 100%;
  border-bottom: 1px solid #b82121;
  display: block;
  margin-bottom: 30px;
}

/* line 126, ../sass/screen.scss */
h2 {
  font-family: "adelle",serif;
  font-size: 40px;
  color: #b82121;
  display: inline-block;
  margin-bottom: -20px;
  padding: 0 20px;
  text-align: center;
}
/* line 135, ../sass/screen.scss */
h2.white {
  background: #fbfbfb;
}
/* line 139, ../sass/screen.scss */
h2.grey {
  background: #f4f4f4;
}

/* line 144, ../sass/screen.scss */
#triangles {
  background: url("../images/triangle-topper.png");
  height: 22px;
  display: inline-block;
  width: 100%;
}

/* line 151, ../sass/screen.scss */
#story {
  background: #fbfbfb;
  padding: 20px 0 40px;
  overflow: hidden;
  clear: both;
  text-align: center;
}
/* line 158, ../sass/screen.scss */
#story p {
  color: #333;
  max-width: 650px;
  margin: 20px 20px 0px 30px;
  float: left;
  text-align: left;
}
/* line 166, ../sass/screen.scss */
#story img {
  float: left;
  width: 225px;
  border: 8px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

/* line 175, ../sass/screen.scss */
#instalovin {
  text-align: center;
  background: #f4f4f4;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20 0;
  clear: both;
}
/* line 183, ../sass/screen.scss */
#instalovin .instagram {
  display: inline-block;
  width: 100%;
  background: #f9f9f9;
  margin: 20px 0 0;
  padding: 20px;
  border: 1px solid #cccccc;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 193, ../sass/screen.scss */
#instalovin .instagram img {
  position: relative;
  float: left;
  display: inline;
  width: 20%;
  margin: 0;
  padding: 0px;
  opacity: .90;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
/* line 205, ../sass/screen.scss */
#instalovin .instagram img:hover {
  opacity: 1;
}
/* line 211, ../sass/screen.scss */
#instalovin #more {
  margin: 0;
  width: 100%;
  background: #eee;
  display: inline-block;
  padding: 15px 0;
  border: none;
  border: 1px solid #cccccc;
  border-top: 1px solid white;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
  font-size: 20px;
  font-family: "adelle",serif;
}
/* line 228, ../sass/screen.scss */
#instalovin #more:hover {
  background: #f9f9f9;
}
