/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 15, ../sass/screen.scss */
body {
  font-family: "freight-sans-pro",sans-serif;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2PcISf3nwEKrjMyMjDCBEAczf//IQIwDkghY7+8/H+QDAwAADgKEKqcAx5xAAAAAElFTkSuQmCC);
  color: white;
  padding: 40px 20px;
}

/* line 24, ../sass/screen.scss */
.wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px;
  background: #fefefe;
  border-radius: 2px;
  border: 1px solid #efefef;
  -webkit-box-shadow: inset 0 1px 0px 0 white, 0 1px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 0px 0 white, 0 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 0px 0 white, 0 1px 2px rgba(0, 0, 0, 0.7);
}

/* line 34, ../sass/screen.scss */
p {
  font-family: "freight-sans-pro",sans-serif;
  color: white;
  font-size: 15px;
  line-height: 20px;
}

/* line 41, ../sass/screen.scss */
header {
  margin: 20px 0;
  text-align: center;
}
/* line 45, ../sass/screen.scss */
header p {
  color: #ccc;
  font-size: 24px;
  line-height: 28px;
}

/* line 52, ../sass/screen.scss */
h1 {
  font-size: 80px;
  font-family: "museo-slab";
  letter-spacing: -0.05em;
  font-weight: 100;
  margin-bottom: 20px;
}

/* line 60, ../sass/screen.scss */
nav {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dadada));
  background-image: -webkit-linear-gradient(top, #fafafa, #dadada);
  background-image: -moz-linear-gradient(top, #fafafa, #dadada);
  background-image: -o-linear-gradient(top, #fafafa, #dadada);
  background-image: linear-gradient(top, #fafafa, #dadada);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAFAFA', endColorstr='#FFDADADA');
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0px white;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0px white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0px white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  font-size: 14px;
}
/* line 72, ../sass/screen.scss */
nav li {
  display: inline-block;
  text-decoration: none;
}
/* line 77, ../sass/screen.scss */
nav li + li {
  margin-left: 10px;
}

/* line 81, ../sass/screen.scss */
#updates {
  max-width: 295px;
  margin-bottom: 20px;
  float: right;
  display: block;
  margin: 20px;
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  border-radius: 2px;
}
/* line 93, ../sass/screen.scss */
#updates section {
  color: #000;
}
/* line 96, ../sass/screen.scss */
#updates section h3 {
  font-family: "Arial";
  font-weight: bold;
  text-transform: italic;
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
/* line 105, ../sass/screen.scss */
#updates section p {
  color: #000;
  line-height: 18px;
}
/* line 110, ../sass/screen.scss */
#updates section .quote {
  background: #efefef;
  display: block;
  padding: 20px;
  margin: 10px 0;
  font-size: 13px;
  line-height: 18px;
}

/* line 121, ../sass/screen.scss */
#supporters {
  max-width: 650px;
}
/* line 124, ../sass/screen.scss */
#supporters .image-float {
  display: inline-block;
}
/* line 127, ../sass/screen.scss */
#supporters .image-float img {
  float: left;
}
/* line 132, ../sass/screen.scss */
#supporters #more {
  padding: 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-family: "museo-slab";
  font-weight: 300;
  text-shadow: 0 1px #000;
  background-color: #247acb;
  border: 1px solid #03245e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #247acb), color-stop(100%, #125897));
  background-image: -webkit-linear-gradient(top, #247acb, #125897);
  background-image: -moz-linear-gradient(top, #247acb, #125897);
  background-image: -o-linear-gradient(top, #247acb, #125897);
  background-image: linear-gradient(top, #247acb, #125897);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF247ACB', endColorstr='#FF125897');
  -webkit-box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  -moz-box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  box-shadow: inset 0 0 0px 1px #327fd6, 0 1px 1px #111111;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -webkit-transition: all .25s ease-out;
  margin-top: 15px;
}
/* line 155, ../sass/screen.scss */
#supporters #more:hover {
  background: #247acb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.15);
}
/* line 161, ../sass/screen.scss */
#supporters h3 {
  font-family: "museo-slab";
  color: #a93a31;
  font-size: 32px;
  text-align: left;
  display: inline-block;
  margin-bottom: 5px;
}
/* line 170, ../sass/screen.scss */
#supporters p {
  color: #777;
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 176, ../sass/screen.scss */
#supporters a {
  text-decoration: none;
  color: #ea7551;
}
/* line 181, ../sass/screen.scss */
#supporters img {
  width: 33.33%;
  padding: 2px;
  border-radius: 1px;
  margin: 0;
}
/* line 190, ../sass/screen.scss */
#supporters .instagram img {
  float: left;
}

@media all and (max-width: 980) {
  /* line 197, ../sass/screen.scss */
  #updates {
    min-width: 30px;
    max-width: 100%;
  }

  /* line 202, ../sass/screen.scss */
  #supporters {
    float: none;
    max-width: 100%;
  }
}
@media all and (max-width: 500) {
  /* line 210, ../sass/screen.scss */
  #supporters img {
    width: 100%;
    margin: 4px 0;
  }
}
